body{
  font-family: "Gill Sans", sans-serif;
}

.title{
  display: flex;
  justify-content: center;
  font-size: 100px;
}

.scoreInfo{
  display: flex;
  justify-content: center;
}

.scoreContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  gap : 20%;
  padding: 16px;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 5%;
  padding: 32px;
}



.btnSquare{
  font-size: 32px;
  padding:16px;
  border-radius: 8px;
  border: 2px solid gray;
  transition-duration: 0.4s;
}

.btnSquare:hover{
  background-color: black;
  color: white;
}
